[MASTER]
disable=C0111,C0103,C0303,C0304,C0321,C0326,R0903,R0022

[FORMAT]
max-line-length=100

[IMPORTS]
allow-any-import-level=flask,statistics,requests,datetime

[MESSAGES CONTROL]
disable=wrong-import-order